/*
CARDS WRAPPER
*/
.pokemons-grid {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 m-4 p-4
}

.wrapper {
    @apply mx-10 my-4 p-2 flex flex-col text-center
}


/*
CARDS
*/
/*.card {*/
/*    background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);*/
/*    @apply h-auto w-auto shadow-2xl mt-8 mx-4 px-4*/
/*}*/

.card{
    background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
    display: flex;
    flex-flow: row wrap;
    width: 24rem;
}

.card-img {
    height: 10em;

    @apply w-1/2 flex items-center bg-blue-50
}

.pokemon-name {
    width: 100%;
    @apply text-center
}

.form-type {
    height: 5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
}

.img-section-wrapper{
    display: flex;
    flex-direction: row;
    @apply m-4
}

/*
STATS WRAPPER
*/

.stats-wrapper{

    @apply grid grid-cols-3 md:grid-cols-3 px-2 items-center ml-4
}

.stats {
    border-color: #000;
    text-align: center;
    display: flex;
    flex-flow: column;
}

.no-results{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section{
    display: flex;
    flex-direction: column;
}

.search{
    @apply m-4 p-4
}

.next-previous--buttons{
    @apply m-4 flex flex-row justify-center items-center
}


.back-btn:hover{
    color: #FDBB2D;
    @apply cursor-pointer
}

.next-btn:hover{
    color: #FDBB2D;
    @apply cursor-pointer
}

p{
    margin: 0;
    padding: 0;
}


/*
ABILITIES
*/

.abilities{
    width: 40%;
    @apply grid md:grid-cols-3 h-20 md:h-10 items-center
}


/*
HABITAT
*/



.habitat{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
    margin: 0;
    @apply items-center
}


/*
FAVORITES
*/

.selected-favorite{
    @apply animate-bounce m-2 w-6 h-6
}

.unselected-favorite{
    @apply w-6 h-6
}



/*
PAGINATION
*/

.pagination{
    @apply grid grid-cols-4
}